.nav-item img {
  max-height: 20rem !important;
}

.fb {
  width: 3rem !important;
}

a svg:hover .svg-hov {
  fill: #e96a25;
}

a:hover {
  color: #e96a25 !important;
}

.navlink {
  color: white !important;
}

.nav {
  height: 9rem !important;
}
@media screen and (max-width: 480px) {
  .xxcva {
    display: none;
  }
}
.xxcva {
  width: 10rem;
}
.mtbva {
  width: 8rem;
}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.69)), url('./img/foliage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.69) !important;

}

@media screen and (max-width: 768px) {
  .header-image {
    background-size: 169%;
  }
}
@media screen and (min-width: 768px) {
  .header-image {
    background-size: 120%;
  }
}

@media screen and (max-width: 768px) {
  .header-blog {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .header-other {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
@media screen and (min-width: 768px) {
  .header-blog {
    padding-top: 12rem !important;
    padding-bottom: 12rem !important;
  }
  .header-other {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
}


.xxcva .mtbva {
  height: auto;
}


.button:focus, .button.is-focused {
  border-color: #e96a25 !important;
}

.button {
  background-color: transparent !important;
}

.ride-race {
  color: white;
}

.ride-race:hover {
  color: #e96a25 !important;
}

.blog-container {
  padding-bottom: 2rem;
}

.blog-img {
  display: block;
  margin: auto;
}

.blog {
  padding: 1.5rem;
}

.logos {
  background-color: white;
}

.logos-container {
  padding: 1rem;
}

.nutten {
  margin-top: 2rem;
}
@media screen and (max-width: 530px) {
  .bath {
    margin: 0;
  }
  .sbc {
    margin-top: .3rem;
  }
}

@media screen and (min-width: 530px) {
  .bath {
    margin-left: 1rem;
  }
  .sbc {
    margin-top: 0;
  }
}
.section.main {
  background-color: rgba(49, 31, 14, 0.92) !important;
  background-image: url("./img/asfalt-light.png") !important;
}

.race-container {
  padding: 2rem;
  text-align: center;
}

.results-header {
  display: block;
  margin: auto;
}

@media screen and (min-width: 768px) {
  td.name {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}
@media screen and (max-width: 768px) {
  .results-columns {
    margin-left: 0;
    margin-right: 0;
  }
}
.table {
  margin-bottom: 0 !important;;
}
@media screen and (max-width: 480px) {
  .table {
    font-size: 0.9rem !important;
  }
}

table {
  margin: auto;
}

td, th {
  text-align: center !important;
}
.table td, .table th {
  border-top-color: #71c6a5 !important;
  border-top-style: solid;
  border-top-width: 0px;
  border-right-color: #71c6a5 !important;
  border-right-style: solid;
  border-right-width: 0px;
  border-bottom-color: #71c6a5 !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #71c6a5 !important;
  border-left-style: solid;
  border-left-width: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
.race-title {
  padding: 1rem;
  margin-bottom: 0rem !important;
  text-align: center !important;
}
.results-subtitle {
  text-align: center !important;
  padding-top: 2rem;
  margin-bottom: 1rem !important;
}
.post-container {
  margin-bottom: 4rem;
  background-color: white;
  -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.75);
}
.post-container:last-child {
  margin-bottom: 1rem;
}

.center-blog-title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .logos {
    width: 40rem !important;
  }
}

@media screen and (max-width: 768px) {
  .logos {
    width: 30rem !important;
  }
}

@media screen and (max-width: 530px) {
  .logos {
    width: 15rem !important;
  }
  .column {
    padding: .2rem;
  }
}

@media screen and (min-width: 768px) {
  .ytWrapperWrapper {
    margin: auto;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .ytWrapperWrapper {
    width: 100%;
  }
}


.ytWrapper {
  margin: auto;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.ytWrapper iframe {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 93%;
}

.yt-container {
  max-width: 720px !important;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .creature-course iframe {
    height: 400px;
  }
}
@media screen and (min-width: 769px) {
  .creature-course iframe {
    height: 700px;
  }
}

footer {
  padding: 3rem 1.5rem 0 !important;
}

.copyright {
  padding-top: 1rem !important;
  color: white !important;
}

.github {
  width: 2rem !important;
  max-width: 10rem !important;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}



.footer-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.69)), url('./img/blue_ridge_mountains.jpg');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-color: rgb(0, 15, 24) !important;
}

.is-outlined {
  background-color: transparent;
  color: #fff;
}

.hero-cta {
  padding: 30px 0;
}

.panel-block.section p {
  font-size: 17px;
  line-height: 1.4;
  color: #95A5A6;
}

.section.main {
  background-color: #F0F0F0;
}

.icon-block {
  font-size: 5em;
}
