//{
//  "extends": [
//    "standard"
//  ],
//  "env": {
//    "node": true,
//    "mocha": true
//  },
//  "plugins": [
//    "mocha",
//    "chai-friendly",
//    "node"
//  ],
//  "rules": {
//    "no-unused-expressions": 0,
//    "chai-friendly/no-unused-expressions": 2
//  }
//}
